:root {
    --header-height: 80px;
}

/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

.body-content {
    overflow: hidden;
    
}

.main-division {
    height: calc(100vh - var(--header-height));
}

img {
    display: block;
}

p {
    margin: 0;
}

.card-header {
    font-size: 1.7rem;
    font-weight: 500;
}

.card {
    width: 100%;
}



/* Fine Generics */

/* Utils */

.bg-done {
    background-color: #198754;
}

.bg-process {
    background-color: #ffc107;
}

.bg-failed {
    background-color: #dc3545 ;
}

/* Fine Utils */

/* header */

header {
    background-color: #f8f9fa;
    height: 80px;   
}

.header-content {
    background-color: white;
}

/* header logo */

#logo-mobile {
    width:50px;
}

#logo-desktop {
    width: 140px;
    height: 50px;
}

/* search bar */

.search-bar {
    background-color: #e5e5e5;
    border-radius: 5px;
}

.search-bar span{
    padding: 0 10px;
}

.search-bar input {
    border-radius: 5px;
    border: none;
    background-color: #e5e5e5;
}

.search-bar input:focus-visible {
   outline: none;
}

/* header icons */

.header-right i {
    color: #5b5858;
}


#orange-bell {
    color: #ff8f00;
}


/* fine header */



/* sidebar */


.sidebar {
    flex-shrink: 0;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    color: white;
}


/* fine sidebar */


/* main */


main {
    overflow-y: auto;
    background-color: #f8f9fa;
    flex-grow: 1;
}

/* main top header */

.main-top-header {
    background-color: #1b72e8;
    color: white;
    font-weight: 500;
}

.top-header-new-student i {
    width: 15px;
}

.top-header-plan span {
    background-color: #165bba;
    font-weight: normal;
    font-size: .9rem;
}

.top-header-count-students span {
    font-size: 1.9rem;
}


/* cards */

/* To do card */

.todo-card input {
    margin-right: 5px;
}

.form-check-input {
    border-color: rgba(0, 0, 0, 0.176);
}


/* fine to do card */

/* utenti attivi card */

.active-user-card p, .active-user-card a{
    font-size: .9rem;
}

/* nuove classi card */

.next-classes-card th {
    font-weight: 500;
    color: rgb(43, 43, 43);
}

.next-classes-img {
    width: 30px;
    margin-right: 10px;
    height: 30.5px;
    display: inline;
}

.modify-table-row span {
    border: 1px solid #6c757d ;
    color: #6c757d ;

}




/* media query */

@media screen and (min-width: 992px) {
    .search-bar {
        padding: .28rem 0;
    }

    .sidebar i {
        width: 30px;
    }
}