:root {
    --header-height: 80px;
}

/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

.body-content {
    overflow: hidden;
    
}

.main-division {
    height: calc(100vh - var(--header-height));
}

img {
    display: block;
}

/* Fine Generics */

/* Utils */

/* Fine Utils */

/* header */

header {
    background-color: #f8f9fa;
    height: 80px;   
}

.header-content {
    background-color: white;
}

/* header logo */

#logo-mobile {
    width:50px;
}

#logo-desktop {
    width: 140px;
    height: 50px;
}

/* search bar */

.search-bar {
    background-color: #e5e5e5;
    border-radius: 5px;
}

.search-bar span{
    padding-left: 10px;
}

.search-bar input {
    padding: .6rem;
    border-radius: 5px;
    border: none;
    background-color: #e5e5e5;
}
.search-bar input:focus-visible {
   outline: none;
}

/* header icons */

.header-right i {
    color: #5b5858;
}


#orange-bell {
    color: #ff8f00;
}


/* fine header */



/* sidebar */


.sidebar {
    flex-shrink: 0;
    background-color: blue;
    width: 80px;
}

/* fine sidebar */


/* main */


main {
    overflow-y: auto;
    background-color: lightcoral;
}