/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

.body-content {
    overflow: hidden;
    
}

.main-division {
    height: calc(100vh - 80px);
}

/* Fine Generics */

/* Utils */

/* Fine Utils */

/* header */


header {
    background-color: red;
    height: 80px;
}


/* fine header */



/* sidebar */


.sidebar {
    flex-shrink: 0;
    background-color: blue;
    width: 80px;
}

/* fine sidebar */


/* main */


main {
    overflow-y: auto;
}